@import '~bootstrap/scss/bootstrap';

nav {
  background-color: green;
}

.success {
  background-color: yellow;
}

.failure {
  background-color: #F00;
}

.square {
  align-items: center;
  height: 20vh;
  text-justify: center;
  width: 15vw;

  &:hover {
    background-color: #D3D3D3;
  }
}
