@import '~bootstrap/scss/bootstrap';

.background {
  background-image: url('https://i.imgur.com/ifWVNde.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

img {
  height: 250px;
  vertical-align: center;
}

.button {
  margin: 0.25em;
}

.container {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.square {
  background-color: #f4f4f4;
  opacity: 0.80;
  font-size: 75px;
  height: 20vh;
  text-align: center;
  vertical-align: middle;
  width: 10vw;

  &:hover {
  background-color: #ecd49a;
  opacity: 0.70
  }
}

.userinfo {
  background-color: #ecd49a;
  color: #333333;
  padding: 0.5em;
}

#message {
  text-align: center;
}

#sign-up, #sign-in, #change-password {
  padding-bottom: 0.5em;
}
